
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(236, 229, 218), rgb(129, 222, 217) );



}

.conatiner {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.watch {
    font-size: 3rem;
    margin-bottom: 30px;
}

.Timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 15rem;
    font-size: 3rem;
    color: rgb(0, 76, 255);
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}

.buttons button {
    border-color: rgb(0, 0, 0);
    cursor: pointer; 
    font-size: 1.3rem;
    margin: 4px;
    width: 10rem;
    height: 3rem;
    transition: all 0.5s ease-in-out;
}

button:hover {
    color: azure;
    background: rgb(0, 76, 255);
    border: none;
}