
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, wheat, rgb(171, 120, 26) );



}

.conatiner {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.watch {
    font-size: 3rem;
    margin-bottom: 10px;
}

.Timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-size: 3rem;
    color: rgb(0, 76, 255);
}

.buttons button {
    border-color: rgb(0, 76, 255);
    cursor: pointer; 
    font-size: 1.3rem;
    margin: 4px;
    width: 10rem;
    height: 3rem;
    transition: all 0.5s ease-in-out;
}

button:hover {
    color: azure;
    background: rgb(0, 76, 255);
    border: none;
}